*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url(../images/background-desktop.png);color: azure;
}


.container-bilhe{

    height: 700px;
    display: flex; 
    align-items: center;
    justify-content: center;
       flex-direction: column;
}

.titulo-jornada{
  font-size: 1.5rem;
  display:flex;
  align-items: center;
   justify-content: center;
   padding: 15px;
}
.text-confe{
padding: 15px;
font-size: 20px;
}

.label-foto{
width: 300px;
height: 10px;


}

.input-foto{
    display: flex;
     justify-content: center;
    flex-direction: column;
    border: 1px dashed white;
     border-radius: 10px;
     margin: 10px;
}

.label-file-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.upload-icone{
   padding: 13px;
   margin: 15px;
    background-color: rgba(169, 169, 169, 0.281);
    border-radius: 10px;
}

.label-foto{
     opacity: 0;
    overflow: hidden;
}

.label-nome,.label-email,.label-github{
    display: flex;
    flex-direction: column;
}
.nome-label,.email-label,.github-label{
padding: 10px ;
font-size: 20px;
}

.input-nome,.input-email, .input-github{
    height: 40px;
    width: 400px;
      color: darkgray;
    border-radius: 10px;
    padding-left: 7px;
    transition: all 200ms ease;
    background-color: hsl(248, 70%, 10%) ;
    backdrop-filter: blur(2px) saturate(100%);
    -webkit-backdrop-filter: blur(2px) saturate(100%);


    
}
.button-ticket{
    height: 40px;
    width: 367px;
    border-radius: 10px ;
    background-color:rgb(183, 82, 11);
    margin-top: 17px;
    font-size: 17px;
}
.ticket {
    background-image: url(../images/pattern-ticket.svg);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 350px;
    margin-top: 20px;
    font-size: 20px;
}

.ticket-avatar {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 10px;
}
